td.stripes {
  height: 30.7692307692px;
}

#flag {
  width: 711.1111111111px;
  border-collapse: collapse;
  box-shadow: 10px 10px 10px grey;
}

#stars {
  background-color: #002868;
  width: 100%;
  text-align: center;
  padding: 8px;
  font-size: 1.05em;
}

#starcell {
  width: 298.6666666667px;
  padding: 0px;
  color: white;
}

td.red_stripe {
  background-color: red;
}